<h1>Welcome to the Auction Site</h1>
<% if current_user.nil? %>
	
	<p>Description about this auction site!</p>

	<%= link_to("Sign Up", new_user_registration_path) %><br>
	<%= link_to("Log In", new_user_session_path) %>

<% else %>
	<%= "Hey #{@user.name}, welcome back!" %>
	<br><br>
	<%= link_to("Check out what's for sale, BUY now!", products_path) %><br>
	<%= link_to("Make some dough, SELL something", new_user_product_path(@user.id)) %>
	Buy Something
	Sell Something
<% end %>