<h1>Product Details:</h1>
<h3><%= @product.title %></h3>
<p><strong>Deadline:</strong><br>
	<%= @product.deadline %><p>
<p><strong>Description:</strong><br>
	<%= @product.description %>
</p><br><br>
<h4>Comments</h4>
<hr>
<%= render "/reviews/index" %>
<% if current_user %>
	<br>
	<%= render "/reviews/new" %>
<% end %>
